/* ====================== */
/* Poppins Font import */
/* ====================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap');

/* ====================== */
/* Colors */
:root{
    --main-color:#475467;
    --second-color:#603db7;
    --footer-bg: #f4f7fc;
    --input-border: #47546788;
    --white: #ffffff;

    --dark-success: #2d6051;
    --light-success: #dcfcf4;

    --mp : 110px;
    --main-padding: 0 var(--mp);

    --nav-padding: var(--main-padding);
    
    --transition: all ease-in-out 0.3s;
}
/* ====================== */
/* Universal Styles */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: var(--transition);
}

/* img{
    max-width: 100%;
    max-height: 100%;
} */
/* ====================== */
/* navbar */
header{
    position: fixed;
    padding: var(--nav-padding);
    box-shadow: 0 0 6px -2px #0004;
    z-index: 999;
    background-color: #fff;
    /* backdrop-filter: blur(5px); */

}
header, header nav{
    width: 100%;
    height: 80px;
    background-color: #fff;

}
/* header.scroll-header{

} */

header nav{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 50px;
    z-index: 1000;
}
header nav .brand{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
header nav .brand img{
    width: 35px;
}
header nav .brand h1{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 25px;
    z-index: 998;
}
header nav ul li{
    position: relative;
}
header nav ul li a{
    height: 80px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
header nav > ul li  a:hover{
    color: var(--second-color);
}

header nav ul li a svg{
    fill: var(--main-color);
}
header nav ul li a:hover svg{
    fill: var(--second-color);
}


header nav ul li .hoverbox{
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px -4px #0004;
    background-color: #fff;
    backdrop-filter: blur(5px);
    height: 0px;
    opacity: 0;
    z-index: 1000;
    overflow: hidden;

}
header.scroll-header nav ul li .hoverbox{
    background-color: #fffa;
    padding: 0;
    width: 100%;
}
header nav ul li.active .hoverbox{
    height: 140px;
    opacity: 1;
    padding: 0;
}
header nav ul li .hoverbox ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto
}
header nav ul li .hoverbox ul a li{
    transition: background ease-in-out 0.6s;
    width: 100%;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    width: 250px;
}
header nav ul li .hoverbox ul a:hover{
    background-color: var(--second-color);
    color: #fff;
}

#navactive{
    z-index: 800;
    width: 100%;
    background-color: #0001;
    position: fixed;
    backdrop-filter: blur(2px);
    bottom: 0;
    height: 0px;
    left: 0;
    /* display: none; */
}
#navactive.active{
    height: calc(100vh - 80px);
    display: flex;
}

/* Hamburger */
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
    border-radius: 2px;
    
}


/* ====================== */
main#root{
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* ====================== */
/* Hero Section */
/* ====================== */

#hero{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#hero .cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
#hero .cont>div{
    min-height: 50vh;
    width: 50%;
}
#hero .cont .left{
    background-image: url("../img/bg.webp");
    background-size: cover;
    align-items: stretch;
    background-position: center bottom;


}
#hero .cont .left img{
    width: 100%;
    display: flex;
    min-height: 100%;
    object-fit: cover;
}

#hero .cont .right{
    padding: var(--mp);

}

#hero .cont .right form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    row-gap: 20px;
}
#hero .cont .right form h2{
    color: var(--main-color);
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 500;
}
.form-alert{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: 10px;
    min-height: 50px;
    line-height: 30px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.form-alert.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.form-alert.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.continputs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.continputs .fields{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.continputs .fields>label{
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.1rem;
}
.continputs .fields>label span{
    color: red;
}
.continputs .fields > input, .continputs .fields > textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}
.continputs .fields > textarea{
    min-height: 100px;
    max-height: 200px;
    resize: none;
}
.continputs .fields > .checkboxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 20px 0;
    align-items: flex-start;
}
.continputs .fields > .checkboxes > .row{
    display: flex;
    column-gap: 5px;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.continputs .fields > .checkboxes > .row input{
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border: 1px solid var(--input-border);
}
.continputs .fields > .checkboxes > .row label{
    min-height: 25px;
    font-size: 1.2rem;
    color: var(--main-color);
    font-weight: 500;
}
.continputs .fields > button{
    height: 60px;
    border: 3px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
}
.continputs .fields > button:hover{
    border: 3px solid var(--second-color);
    background-color: var(--second-color);
}


/* ====================== */
/* Footer */
/* ====================== */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .main-foot{
    width: 100%;
    padding: 70px var(--mp);
    background-color: var(--footer-bg);
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
}
footer .main-foot .left{
    width: calc(30%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
footer .main-foot .left .brand{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

footer .main-foot .left .brand img{
    width: 40px;
}
footer .main-foot .left .brand span{
    color: var(--main-color);
    font-size: 1.75rem;
    font-weight: 600;
}
footer .main-foot .left .desc p{
    width: 100%;
    font-size: 1.1rem;
    color: var(--main-color);
}
footer .main-foot .right{
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;

}

.footlist{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 20%;
    min-width: 160px;
}
.footlist h3 a{
    font-weight: 500;
    font-size: 1rem;
    color: var(--main-color);
    opacity: 0.8;
}
.footlist ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footlist ul li a, .footlist ul li{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    width: 100%;
    min-width: 160px;
    color: var(--main-color);
    height: 30px;
    column-gap: 5px;
}

.footlist ul li a span{
    color: var(--dark-success);
    background-color: var(--light-success);
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 12px;
}
.footlist ul li a:hover{
    text-decoration: underline;
}

.bottom-foot{
    display: flex;
    padding: 50px var(--mp);
    align-items: center;
    justify-content: space-between;
}
.bottom-foot .copy span{
    font-size: 1rem;
    color: var(--input-border);
}
.bottom-foot .social{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.bottom-foot .social a{
    height: 30px;
}
.bottom-foot .social a svg{
    height: 30px;
    fill: var(--input-border);
    transition: var(--transition);
}
.bottom-foot .social a:hover svg{
    height: 30px;
    fill: var(--main-color);
    transform: scale(1.05);
}
/* ====================== */
/* Media Query */
/* ====================== */
@media screen and (min-width:768px) {
    header nav ul li:hover .hoverbox{
        height: 140px;
        opacity: 1;
    }
    header:hover + #navactive{
        height: calc(100vh - 80px);
        display: flex;
    }
    
}
@media screen and (min-width:1500px) {
    #hero .cont>div{
        width: auto;
    }
    #hero .cont .left{
        min-width: calc(100%-900px) !important;
        width: calc(100%-900px) !important;
    }
    #hero .cont .right{
        width: 900px;
        min-width: 750px;
        max-width: 900px;
    }
    
}
@media screen and (max-width:1200px) {
    :root{
        --mp : 80px;

    }

    footer .main-foot .left{
        width: 40%;
    }
    footer .main-foot .right{
        width: 60%;
    }
}
@media screen and (max-width:1000px) {
    :root{
        --mp : 60px;

    }

    #hero .cont .left{
        width: calc(100%-600px);
    }
    #hero .cont .right{
        width: 600px;
    }
    footer .main-foot .left, footer .main-foot .right{
        width: 50%;
    }


}
@media screen and (max-width:768px) {
    :root{
        --mp : 30px;

    }
    header nav{
        justify-content: space-between;
    }
    #menubar{
        transition: var(--transition);
        position: absolute;
        background-color: #fff;
        backdrop-filter: blur(5px);
        width: 100%;
        height: 0px;
        top: 150%;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        border-radius: 0 0 8px 8px;
        backdrop-filter: blur(3px);
        box-shadow: 0 4px 8px -4px #0004;
        opacity: 0;
    }
    #menubar.active{
        transition: var(--transition);
        top: 100%;
        opacity: 1;
        height: auto;


    }

    header nav .brand h1{
        font-size: 1.3rem;
    }
    header nav ul li a{
        font-size: 1rem;
    }
    #hero .cont .right form{
        row-gap: 10px;
    }
    #hero .cont .right form h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .continputs{
        row-gap: 10px;
    }
    .continputs .fields>label{
        font-size: 1rem;
    }
    .continputs .fields > input, .continputs .fields > textarea{
        min-height: 30px;
        line-height: 20px;
        padding: 10px;
        font-size: 0.8rem;
    }
    .continputs .fields > .checkboxes{
        flex-direction: column;
        padding-top: 5px;
        row-gap: 10px;
    }
    .continputs .fields > .checkboxes .row{
        min-width: 100%;
    }
    .continputs .fields > .checkboxes > .row label{
        min-height: 20px;
        font-size: 1rem;
    }
    .continputs .fields > .checkboxes > .row input{
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
    }

    .continputs .fields > button{
        height: 50px;
        font-size: 1rem;
    }
    footer .main-foot .left .brand span{
        font-size: 1.3rem;
    }
    footer .main-foot .left .desc p{
        font-size: 0.9rem;
    }
    .footlist h3 a{
        font-size: 0.8rem;
    }
    .footlist{
        row-gap: 5px;
    }
    .footlist ul{
        row-gap: 5px;
    }
    footer .main-foot {
        padding: 35px var(--mp);

    }
    footer .main-foot .right{
        row-gap: 15px;

    }
    .footlist ul li a, .footlist ul li{
        font-size: 0.9rem;
        height: 20px;
    }

    .bottom-foot{
        flex-direction: column-reverse;
        padding: 25px var(--mp);
        row-gap: 10px;
    }
    .bottom-foot .copy span{
        font-size: 0.8rem;
    }
    .bottom-foot .social{
        column-gap: 15px;
    }
    .bottom-foot .social a{
        height: 20px;
    }
    .bottom-foot .social a svg{
        height: 20px;
    }
    .bottom-foot .social a:hover svg{
        height: 20px;
    }
    /* header.scroll-header nav ul{
        background-color: #fff;
        backdrop-filter: blur(5px);
    
    } */
    header nav ul li a, header nav ul li{
        height: auto;
        width: 100%;
    }
    header nav ul li{
        padding: 5px;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header nav ul li .hoverbox{
        position: inherit;
        background-color: #fff0;
        backdrop-filter: none;
        box-shadow: none;
    }

    #hero .cont .left{
        display: none;
    }
    #hero .cont .right{
        width: 100%;
    }
    footer .main-foot{
        flex-direction: column;
        row-gap: 25px;
    }
    footer .main-foot .left, footer .main-foot .right{
        width: 100%;
    }

    

}
@media screen and (max-width:550px) {
    :root{
        --mp : 15px;

    }
    .footlist{
        width: 50%;
    }
    

}
/* ====================== */
